.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.75); // Fondo negro translúcido
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__close {
    position: absolute;
    top: 6.5em;
    right: 2em;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1002;
  }

  &__card {
    position: relative;
    background-color: white;
    width: 90%; 
    max-width: 100%;
    height: auto;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0.5em; 
    z-index: 1001;
  }
}
