@import "../variables";

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__close {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 2em;
    right: 2em;
    border: none;
    padding: 0.1em 0.3em;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1002;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    width: 90%;
    max-width: 100%;
    height: auto;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    z-index: 1001;
  }
}

@media (min-width: 1000px) {
  .modal-container {
    &__card {
      width: 50%;
    }
  }
}
