@import "../_variables";
@import "../mixins";

.slideBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 14em;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-right: 0.1em solid $primary-color;
  box-sizing: border-box;
  padding: 1rem 0;
  transition: transform 0.3s ease;
  padding: 4em 0.5em;

  &__title {
    @include title;
    margin-bottom: 1em;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 1em 1em;
    width: 100%;
    height: 3em;
    text-decoration: none !important;
    
    &.active::before {
      @include active-circle();
      padding: 0 0em;
      left: 2em;
      top: 50%;
    }
  }

  &__message {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
  }

  &__icon {
    @include icon-style();
  }
}

// @media (max-width: 1000px) {
//   transform: translateX(-100%);
// }

// @media (min-width: 1000px) {
//   transform: translateX(0);
// }
