 
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    height: 50px;
    width: 50px;
    margin: 0 3px;
    /* background-color: lightgray; */
    background-color: rgb(9, 74, 252);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    /* background-color: gray; */
    background-color: rgb(240, 10, 10);
  }
  