$font-primary: "Grape Nuts";
$font-secondary: "Open sans";
$primary-color: #0E8AF0;

// Modo claro
$background-light: #ffffff;
$text-light: #000000;

// Modo oscuro
$background-dark: #333333;
$text-dark: #ffffff;