
$font-primary: "Grape Nuts", sans-serif;

$primary-color: #0E8AF0;
$secondary-color: #2ecc71;
$text-color: #333;
$background-color: #f5f5f5;
$card-bg-color: #fff;
$border-color: #ddd;
$border-radius: 8px;