@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  text-align: center;
}
body main {
  display: block;
}
body main p,
body main h1,
body main h2,
body main h3 {
  font-family: "Grape Nuts", sans-serif;
  text-align: center;
}

@media (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}