@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import "./variables";
@import "./Views/profile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-width: 320px;
  text-align: center;
  display: block;

  p,
  label {
    font-family: $font-primary;
    text-align: center;
  }
  h1,
  h2,
  h3 {
    font-family: $font-primary;
    text-align: center;
    color: $primary-color;
    margin: 1em 0em;
  }
}

@media (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
