@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import "./variables.scss";
@import "./Page/home.scss";
@import "./Page/profile.scss";
@import "./Page/search.scss";
@import "./Components/card.scss";
@import "./Components/carousel.scss";
@import "./Components/footer.scss";
@import "./Components/modalCard.scss";
@import "./Components/modalComment.scss";
@import "./Components/nav.scss";
@import "./Components/slideBar.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-width: 320px;
  text-align: center;
  display: block;

  p,
  label {
    font-family: $font-primary;
    text-align: center;
    text-decoration: none;
  }
  h1,
  h2,
  h3 {
    font-family: $font-primary;
    text-align: center;
    color: $primary-color;
    margin: 0.5em 0em 0em;
  }
}

@media (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
