@import "../variables.scss";

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  justify-content: center;

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2em;
    width: 70%;
    background-color: rgb(212, 208, 208);
    border: none;
    border-radius: 15px;
    margin: 1em 0rem 1.5em;
    padding-left: 0.5em;

    input {
      width: 20em;
      max-width: 25rem;
      box-sizing: border-box;
      border: none;
      outline: none;
      background-color: transparent;
    }

    button {
      background-color: $primary-color;
      border: none;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      padding: 0;
      cursor: pointer;
    }
  }

  &__photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    img {
      max-width: 100%;
      height: auto;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media (min-width: 1000px) {
  .search {
    margin-left: -15em;

    &__input {
      width: 25em;
      margin: 5em auto;
    }

    &__photo-gallery {
      display: flex;
      width: 80%;
      padding: 5em;
      // background-color: red;

      &-column {
        img {
          width: 19em;
          margin-bottom: 1rem;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.2s ease;
          cursor: pointer;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
